<% content_for :page_title do %>
  <%= Spree.t(:listing_posts, scope: 'blog') %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_post_link">
    <%= button_link_to Spree.t(:new_post, scope: 'blog'), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_post' } %>
  </li>
<% end if can?(:create, Spree::Post) %>

<%= render :partial => 'spree/admin/shared/post_sub_menu' %>

<div id="new_post_wrapper" data-hook></div>

<% if @collection.any? %>
<table class="index sortable" id="listing_posts">
  <colgroup>
    <col style="width: 5%">
    <col style="width: 15%;">
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 17%;">
  </colgroup>
</table>
<% end %>
