<h1>Author <em><%= @author.full_name %></em></h1>
<h3>Bio</h3>
<p><%= @author.bio %></p>
<h3>Posts List</h3>
<ul>
  <% @author.posts.visible.each do |post| %>
    <li><%= link_to post.title, blog_content_path(post) %></li>
  <% end %>
</ul>
