<h1>Categoria <em><%= @category.name %></em></h1>
<h3>Elenco articoli</h3>
<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, blog_content_path(post) %></li>
  <% end %>
</ul>
